---
import { sanityClient } from "sanity:client";

const about = await sanityClient.fetch(`*[_type == "about"][0]{
  title,
  paragraph1,
  paragraph2,
  paragraph3,
  paragraph4,
  paragraph5,
  paragraph6,
  paragraph7,
  paragraph8,
  "imageUrls": images[].asset->url
}`);
---

<section
  id="about"
  class="bg-white text-black py-16 px-8 lg:px-24 flex flex-col lg:flex-row items-center justify-between"
>
  <!-- Левая часть: заголовок и описание -->
  <div class="lg:w-1/2 mb-8 lg:mb-0 font-girloy">
    <h2
      class="text-9xl lg:text-10xl font-bold text-yellow-500 mb-8 font-nevduplenysh"
    >
      {about.title}
    </h2>
    <div class="text-base lg:text-lg text-gray-800 leading-relaxed">
      <p>{about.paragraph1}</p>
      <p>{about.paragraph2}</p>
      <p>{about.paragraph3}</p>
      <p>{about.paragraph4}</p>
      <p>{about.paragraph5}</p>
      <p>{about.paragraph6}</p>
      <p>{about.paragraph7}</p>
      <p>{about.paragraph8}</p>
    </div>
  </div>

  <!-- Правая часть: коллаж из изображений -->
  <div class="lg:w-1/2 grid grid-cols-2 gap-4">
    {
      about.imageUrls.map((imageUrl, index) => (
        <img
          src={imageUrl}
          alt={`О нас изображение ${index + 1}`}
          class="w-full h-full object-contain rounded-lg shadow-lg"
        />
      ))
    }
  </div>
</section>

<style>
  p {
    margin-bottom: 1rem;
    line-height: 1.6;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
</style>
